<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Socket.io Client</title>
</head>

<body>
    <button type="button" onclick="myclick();">Click Me and watch console at server and in browser.</button>

    <script src="/socket.io/socket.io.js"></script>
    <script>
// ------------------------------------------------------------------------------------------------
const socket = io('http://localhost:3300')
socket.on('msg', function (data) {
  console.log('received news with data: ' + data);
})

function myclick () {
  console.log("click")
  socket.emit('msg', { clickdata: 'I clicked the button' })
}
// ------------------------------------------------------------------------------------------------
    </script>
</body>
</html>
